@{
    ViewData["Title"] = "FAQ";
}

<div class="text-center" style="max-height:90vh; overflow:auto; display: flex; flex-direction:column">
    <h1 class="display-4">Frequently Asked Questions:</h1>

    <h4>Q: How much is it to attend?</h4>
    <p>A: Free! As long as the convention is online, it will be completely free to attend! We do have merch available if you would like some though. We may eventually have some paid tiers with some benefits. And of course we do hope to bring the April times IRL eventually.</p>

    <h4>Q: Where is the con at?</h4>
    <p>A: The convention is on Discord, with most events in VRChat. Hopefully we will be able to bring the con IRL eventually in Fort St. John, BC, if it grows big enough</p>

    <h4>Q: When is the convention?</h4>
    <p>A: The next con time is scheduled for April 12 - 14</p>

    <h4>Q: How do I join an event?</h4>
    <p>A: You can see how to join events <a href="@Program.domain/Events/Joining">Here</a></p>

    <h4>Q: How do I get a spot at the Dealers Den?</h4>
    <p>A: You can read how <a href="@Program.domain/Home/DealersDen">Here</a></p>

    <h4>Q: How do I host an event?</h4>
    <p>A: You can read how <a href="@Program.domain/Events/Hosting">Here</a></p>

    <h4>Q: Something is down or not working right, what should I do?</h4>
    <p>A: You can check the announcements channel in the <a href="https://discord.gg/Rte9sbK76D" target="_blank">discord</a> to see if we are aware. Else please let us know so we can get it fixed! Either at <a href="@Program.domain/Home/Contact">Contact Us</a>, or DMing Unifox on discord about it.</p>

    <h4>Q: Someone is breaking the rules / being disruptive. / I have a concern about someone in an event / in the discord.</h4>
    <p>A: Please let us know so we can deal with them</p>

    <h4>Q: I was thinking of doing a partnership / collab with T.E.C, what should I do?</h4>
    <p>A: We are glad to hear that! Please let us know! You can DM Unifox about it on discord at theunifox!</p>

    <h4>Q: I would like to invite some friends to the discord</h4>
    <p>A: Here is the permanent invite link: <a href="https://discord.gg/Rte9sbK76D" target="_blank">https://discord.gg/Rte9sbK76D</a></p>

    <h4>Q: Where is the VRChat group for the convention?</h4>
    <p>A: You can join the group Here</p>

    <h4>Q: Where is the convention Telegram at?</h4>
    <p>A: You can join it Here</p>

    <h4>Q: I have a normie friend I want to bring with, is that ok?</h4>
    <p>A: It absolutely is! We may be a furry convention, but anyone is allowed to attend!</p>

    <h4>Q: What is the con mascot?</h4>
    <p>A: Our con mascot is Tecie! He is a fox who enjoys hanging out and having fun at the con!</p>

    <p></p>
    <p>Have a question we haven't answered here? Ask away! We have a <a href="@Program.domain/Home/Contact">Contact Us</a> page, or you can DM us on discord!</p>
    <p>Is there something missing from this FAQ, or anything else? Just let us know! We are always looking to improve the convention</p>

    <!--
    <h4>Q: Question</h4>
    <p>A: Answer</p>
    -->
</div>