@using System.Text.RegularExpressions;
@using TECDataClasses;
@using TECSite.Controllers;
@using VRChat.API.Api;
@using VRChat.API.Client;
@using VRChat.API.Model;
@{
    EventInfo? event_ = EventsController.@event;
    EventInfo[] events = EventsController.events;
    string status = EventsController.statusString;
    ViewData["Title"] = event_ != null ? event_.EventName : "Events";
}

<div class="text-center">

    @if (event_ == null)
    {
        <h1 class="display-4">Events</h1>
        // show event list

        <style type="text/css">
            .container {
                opacity: 1;
            }

            html, body {
                min-height: 100vh;
            }

            body {
                height: 100vh;
            }
        </style>

        <div style="display:flex">
            <a style="margin: 0 auto" href="~/Schedule/Schedule.png" download="TEC_Schedule">Download</a>
        </div>
        <div style="opacity:1; max-height:90vh; overflow:auto; display: flex; flex-direction: row; flex-wrap:wrap;">
            <h3 style="margin-right:8vw">Friday, April 12:</h3>
            <div style="margin: 0 auto; width:77.25%; position:relative">
                <a href="@Program.domain/Events/Event/0"> <button style="opacity:0; position:absolute; left:11.7%; top:7.5%; width:14.8%; height:47%"></button></a>
                <a href="@Program.domain/Events/Event/1"> <button style="opacity:0; position:absolute; left:26.4%; top:7.5%; width:14.8%; height:24%"></button></a>
                <a href="@Program.domain/Events/Event/2"> <button style="opacity:0; position:absolute; left:41%;   top:7.5%; width:14.8%; height:24%"></button></a>
                <a href="@Program.domain/Events/Event/3"> <button style="opacity:0; position:absolute; left:55.7%; top:54%;  width:14.8%; height:24%"></button></a>
                <a href="@Program.domain/Events/Event/4"> <button style="opacity:0; position:absolute; left:70.4%; top:7.5%; width:14.8%; height:24%"></button></a>
                <a href="@Program.domain/Events/Event/5"> <button style="opacity:0; position:absolute; left:85.2%; top:7.5%; width:14.8%; height:24%"></button></a>
                <img src="~/Schedule/Day1.png" width="100%" style="margin: 0 auto">
            </div>
            <div style="margin: 0 auto; width:22.75%">
                <img src="~/Schedule/Legend.png" width="100%" style="margin: 0 auto">
            </div>
            <h3 style="margin-right:8vw; margin-top:15px">Saturday, April 13:</h3>
            <div style="margin: 0 auto; width:100%; position:relative">
                <a href="@Program.domain/Events/Event/6 "> <button style="opacity:0; position:absolute; left:6.3%;  top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/7 "> <button style="opacity:0; position:absolute; left:14.1%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/8 "> <button style="opacity:0; position:absolute; left:21.9%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/9 "> <button style="opacity:0; position:absolute; left:29.6%; top:54%; width:4%;   height:23%"></button></a>
                <a href="@Program.domain/Events/Event/10"> <button style="opacity:0; position:absolute; left:33.5%; top:31%; width:4%;   height:23%"></button></a>
                <a href="@Program.domain/Events/Event/11"> <button style="opacity:0; position:absolute; left:37.4%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/12"> <button style="opacity:0; position:absolute; left:45.2%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/13"> <button style="opacity:0; position:absolute; left:53.1%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/14"> <button style="opacity:0; position:absolute; left:60.8%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/15"> <button style="opacity:0; position:absolute; left:68.6%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/16"> <button style="opacity:0; position:absolute; left:76.4%;top:31.3%;width:7.84%;height:23%"></button>
                                                           <button style="opacity:0; position:absolute; left:76.4%;top:76.4%;width:7.84%;height:23%"></button></a>
                <a href="@Program.domain/Events/Event/17"> <button style="opacity:0; position:absolute; left:84.2%; top:9%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/18"> <button style="opacity:0; position:absolute; left:92%;top:31.3%;width:7.84%;height:45.4%"></button></a>
                <img src="~/Schedule/Day2.png" width="100%" style="margin: 0 auto">
            </div>
            <h3 style="margin-right:8vw; margin-top:15px">Sunday, April 14:</h3>
            <div style="margin: 0 auto; width:100%; position:relative">
                <a href="@Program.domain/Events/Event/19"> <button style="opacity:0; position:absolute; left:6.3%;  top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/20"> <button style="opacity:0; position:absolute; left:14.1%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/21"> <button style="opacity:0; position:absolute; left:21.8%;top:76.4%;width:7.84%;height:23%"></button></a>
                <a href="@Program.domain/Events/Event/22"> <button style="opacity:0; position:absolute; left:29.6%;top:76.4%;width:7.84%;height:23%"></button></a>
                <a href="@Program.domain/Events/Event/23"> <button style="opacity:0; position:absolute; left:37.4%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/24"> <button style="opacity:0; position:absolute; left:45.2%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/25"> <button style="opacity:0; position:absolute; left:53.1%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/26"> <button style="opacity:0; position:absolute; left:60.8%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/27"> <button style="opacity:0; position:absolute; left:68.6%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/28"> <button style="opacity:0; position:absolute; left:76.4%;top:53.7%;width:7.84%;height:23%"></button></a>
                <a href="@Program.domain/Events/Event/29"> <button style="opacity:0; position:absolute; left:84.2%; top:8%; width:7.84%; height:23%"></button></a>
                <a href="@Program.domain/Events/Event/30"> <button style="opacity:0; position:absolute; left:92%;   top:8%; width:7.84%; height:46%"></button></a>
                <img src="~/Schedule/Day3.png" width="100%" style="margin: 0 auto">
            </div>
        </div>

        /* foreach (TECDataClasses.EventInfo toAdd in events)
        {
            <p id="@toAdd.EventNumber">@toAdd.EventDate.ToString("dddd, MMM dd: h:mm tt ") <a href="@Program.domain/Events/Event/@toAdd.EventNumber"><button class="link-button-class" id="link-button" onclick="ButtonWait()">@toAdd.EventName</button></a></p>
        } */
    }
    else if (event_ != null)
    {
        // show event
        <h1 class="display-4">@event_.EventName</h1>
        if (event_.EventLink != null && event_.EventLink != "" && !event_.EventLink.Contains("vrchat.com"))
        {
            <a href="@event_.EventLink" target="_blank"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
        }

        <a href="@Program.domain/Events/Joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>

        Regex linkMatch = new Regex(@"\[([\w\s\d]+)\]\(((?:\/|https?:\/\/)[\w\d./?=#]+)\)");
        string description = event_.EventDescription;
        MatchCollection matches = linkMatch.Matches(description);

        foreach (Match match in matches)
        {
            description = description.Replace(match.Value, $"<a href=\"{match.Groups[2].Value}\" target=\"_blank\">{match.Groups[1].Value}</a>");
        }

        string[] lines = description.Split("\n");
        foreach (string line in lines)
        {
            <p>@Html.Raw(line)</p>
        }

        if (event_.EventLink.Contains("vrchat.com"))
        {
            Match instanceID = new Regex(@"(?<=https:\/\/vrchat\.com\/home\/launch\?worldId=)[\w\d./\-]*").Match(event_.EventLink);
            string inst1 = $"https://vrchat.com/home/launch?worldId={instanceID.Value}&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)";
            string inst2 = $"https://vrchat.com/home/launch?worldId={instanceID.Value}&instanceId=TEC2~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)";
            string inst3 = $"https://vrchat.com/home/launch?worldId={instanceID.Value}&instanceId=TEC3~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)";

            //use vrc api to get user count for each instance
            Configuration config = new();
            config.BasePath = "https://api.vrchat.cloud/api/1";
            config.AddApiKey("auth", "JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26");

            var apiInstance = new InstancesApi(config);

            var worldId = instanceID.Value;
            var instanceId1 = "TEC1";
            var instanceId2 = "TEC2";
            var instanceId3 = "TEC3";

            int instCount1 = 0;
            int instCount2 = 0;
            int instCount3 = 0;

            try
            {
                // Get Instance
                Instance result1 = apiInstance.GetInstance(worldId, instanceId1);
                Instance result2 = apiInstance.GetInstance(worldId, instanceId2);
                Instance result3 = apiInstance.GetInstance(worldId, instanceId3);

                instCount1 = result1.NUsers;
                instCount2 = result2.NUsers;
                instCount3 = result3.NUsers;
            }
            catch (ApiException e)
            {
                Console.WriteLine("Exception when calling InstancesApi.GetInstance: " + e.Message);
                Console.WriteLine("Status Code: " + e.ErrorCode);
                Console.WriteLine(e.StackTrace);
            }

            <p>Instance 1: @instCount1 Furs <a href="@inst1" target="_blank"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join</button></a></p>
            <p>Instance 2: @instCount2 Furs <a href="@inst2" target="_blank"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join</button></a></p>
            <p>Instance 3: @instCount3 Furs <a href="@inst3" target="_blank"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join</button></a></p>
        }
    }

    <iframe> </iframe>

</div>
